body{
    margin: 0;
    padding: 20px;
}
*{
    box-sizing: border-box;
}
h1{
    color: white;
}
tr{
    color: black;
    background-color: snow;
}
tr:hover{
    background-color: skyblue;
}
th{
    background-color: rgb(68, 255, 68);
}

table{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
}
th,td{
    padding: 20px;
}

/* responsive*/

@media (max-width: 500px){
    .table{
        margin-top: 80%;
    }
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;

    }
    .table th{
        text-align: left;
    }
    .table td{
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    } 
    
    td:nth-of-type(1):before { 
        content: "School/University";
        position: absolute;
        left: 10px;
        width: 50%;
        text-align: left;
        font-weight: bold;
     }
	td:nth-of-type(2):before { 
        content: "Course";
        position: absolute;
        left: 10px;
        width: 50%;
        text-align: left;
        font-weight: bold;

     }
	td:nth-of-type(3):before { 
        content: "Percentage";
        position: absolute;
        left: 10px;
        width: 50%;
        text-align: left;
        font-weight: bold;
     }

}